body{
    margin: 0;
}

#book-display {
    display: flex;
    margin: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    flex-shrink: 0;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}